<launch>

	<include file="$(find epson_g3_moveit_new)/launch/gazebo.launch" />

    
	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
	    <param name="publish_frequency" type="double" value="50.0" />
	    <param name="tf_prefix" type="string" value="" />
	</node>
	    
	<rosparam file="$(find epson_g3_moveit_new)/config/joint_state_controller.yaml" command="load"/>
	    
	<node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>
	    
	<rosparam file="$(find epson_g3_moveit_new)/config/trajectory_control.yaml" command="load"/>

	<node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" 
	args="spawn arm_controller" respawn="false" output="screen"/>

	<include file="$(find epson_g3_moveit_new)/launch/planning_context.launch" >
	    <arg name="load_robot_description" value="true" />
	</include>
	  
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	    <param name="/use_gui" value="true"/>
	    <rosparam param="/source_list">[/joint_states]</rosparam>
	</node>
	  
	<include file="$(find epson_g3_moveit_new)/launch/move_group.launch">
	    <arg name="publish_monitored_planning_scene" value="true" />
	 </include>
	  
	<include file="$(find epson_g3_moveit_new)/launch/moveit_rviz.launch">
	  <arg name="rviz_config" value="$(find epson_g3_moveit_new)/launch/moveit.rviz"/>
	  <arg name="debug" value="false"/>
	</include> 


</launch>